<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="col-md-6 text-center mt-100">
    <div class="card border-dark mb-10 mt-10 mx-auto" style="max-width: 18rem;">
        <div class="bg-transparent border-info">
            <h3 class="card-header text-center text-info">Sign Up</h3>
        </div>
        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field mt-20">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" %> <br>
            <em>(8 characters minimum)</em>
        </div>
        <br>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
            <%= f.submit "Sign up", class: "btn" %>
        </div>
        <div class="card-footer bg-transparent border-info"><%= link_to "Log in", new_session_path(resource_name) %></div>

    </div>
</div>


<% end %>

<%= render "devise/shared/links" %>