<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
    <div class="col-md-6 mt-100 mb-100">
        <div class=" card border-dark bg-transparent mb-10 mt-10 mx-auto" style="max-width: 18rem; -webkit-box-shadow: -4px 4px 57px 35px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 4px 57px 35px rgba(0,0,0,0.75);
box-shadow: -4px 4px 57px 35px rgba(0,0,0,0.75);">
            <div class=" bg-transparent border-info">
                <h3 class="card-header  text-center text-info">Customer Log in</h3>
            </div>
            <div class="card-body text-white">
                <div class="field text-center mb-20">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="field text-center mb-20">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "current-password" %>
                </div>

                <div class="actions text-center">
                    <%= f.submit "Log in", class: "btn btn-info"%>
                </div>
                <% end %>
            </div>
            <div class="card-footer bg-transparent border-dark"><%= render "devise/shared/links" %></div>
        </div>
    </div>

    <div class="col-md-6 text-center mt-150">
        <div class="card border-dark bg-transparent mb-10 mt-10 mx-auto" style="max-width: 18rem; -webkit-box-shadow: -4px 4px 57px 35px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 4px 57px 35px rgba(0,0,0,0.75);
box-shadow: -4px 4px 57px 35px rgba(0,0,0,0.75);">
            <div class=" bg-transparent border-info">
                <h3 class="card-header text-center text-info">Not a customer?</h3>
            </div>
            <div class="card-body text-info text-center">
                <%= button_to "Employee log in", new_employee_session_path, :method => "get", class: "btn btn-info btn-lg active mt-30" %>
            </div>
            <div class="card-footer bg-transparent border-dark"></div>
        </div>
    </div>
</div>